div.sudoku-board {
  border: 2px solid #404040;
  width: 416px;
  height: 416px;
  position: relative;
}

div.sudoku-cell {
  background: #e0e0e0;
  font-size: 1.5em;
  text-align: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  position: absolute;
  cursor: pointer;
}

div.sudoku-initial {
  background: #c0c0c0;
}

div.sudoku-group {
  background: #80e0ff;
}

div.sudoku-active {
  border: 3px solid #004080;
  padding: 3px;
}

div.sudoku-invalid {
  background: red;
}
